[Unit]
Description=flowy

[Service]
Environment=XDG_CURRENT_DESKTOP=i3
ExecStartPre=/bin/sleep 5
ExecStart=flowy --solar /home/welcomattic/Pictures/big-sur-2/ 46.3177490234375 -0.45138877630233765
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical.target
