[Unit]
Description=Wired Notification Daemon

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/wired
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
