(
	max_notifications: 10,
	timeout: 10000,
	poll_interval: 16,
	shortcuts: (
		notification_interact: 2,
		notification_close: 1,
		notification_closeall: 3,
	),
	history_length: 100,
	replacing_resets_timeout: true,
	min_window_width: 360,
	debug: false,
	debug_color: Color(r: 0.0, g: 1.0, b: 0.0, a: 1.0), // Primary color for debug rectangles.
    debug_color_alt: Color(r: 1.0, g: 0.0, b: 0.0, a: 1.0), // Secondary color for debug rectangles.
	layout_blocks: [
		// background #282a36
		// border #6272a4
		// border low #44475a
		// border critical #ff5555
		// border paused #ffb86c
		// text color #f8f8f2
		// progress fill and border #8be9fd

        (
            name: "app_root",
            parent: "",
            hook: Hook(parent_anchor: TR, self_anchor: TR),
            offset: Vec2(x: -8, y: 36),
            render_criteria: [AppImage],
            params: NotificationBlock((
				monitor: 0,
				border_width: 2,
				border_rounding: 3,
				background_color: Color(hex: "#282a36"),
				border_color: Color(hex: "#6272a4"),
				border_color_low: Color(hex: "#44475a"),
				border_color_critical: Color(hex: "#ff5555"),
				border_color_paused: Color(hex: "#ffb86c"),
				gap: Vec2(x: 0.0, y: 8.0),
				notification_hook: Hook(parent_anchor: BL, self_anchor: TL),
            )),
        ),

        (
            name: "app_notification",
            parent: "app_root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0, y: 0),
            params: ImageBlock((
				image_type: App,
				padding: Padding(left: 12, right: 0, top: 12, bottom: 8),
				rounding: 2,
				scale_width: 64,
				scale_height: 64,
				filter_mode: Lanczos3,
            )),
        ),

        (
            name: "app_summary",
            parent: "app_notification",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 28, y: 72),
            params: TextBlock((
				text: "%s",
				font: "SF Pro Display Bold 12",
				ellipsize: End,
				color: Color(hex: "#f8f8f2"),
				padding: Padding(left: 0, right: 0, top: 0, bottom: 8),
				dimensions: (width: (min: -1, max: 185), height: (min: 0, max: 0)),
            )),
        ),

        (
            name: "app_body",
            parent: "app_summary",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0, y: 0),
            params: TextBlock((
				text: "%b",
				font: "SF Pro Display 11",
				ellipsize: End,
				color: Color(hex: "#f8f8f2"),
				padding: Padding(left: 0, right: 0, top: 0, bottom: 0),
				dimensions: (width: (min: -1, max: 250), height: (min: 0, max: 0)),
            )),
        ),

        (
            name: "app_progress",
            parent: "app_notification",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 80, y: 36),
            render_criteria: [Progress],
            params: ProgressBlock((
				padding: Padding(left: 0, right: 0, top: 0, bottom: 0),
				border_width: 1,
				border_rounding: 0,
				border_color: Color(hex: "#8be9fd"),
				fill_rounding: 0,
				background_color: Color(hex: "#282a36"),
				fill_color: Color(hex: "#8be9fd"),
				width: 260.0,
				height: 16.0,
            )),
        ),

        (
            name: "status_root",
            parent: "",
            hook: Hook(parent_anchor: TR, self_anchor: TR),
			render_anti_criteria: [AppImage],
            offset: Vec2(x: -8, y: 36),
            params: NotificationBlock((
				monitor: 0,
				border_width: 2,
				border_rounding: 3,
				background_color: Color(hex: "#282a36"),
				border_color: Color(hex: "#6272a4"),
				border_color_low: Color(hex: "#44475a"),
				border_color_critical: Color(hex: "#ff5555"),
				border_color_paused: Color(hex: "#ffb86c"),
				gap: Vec2(x: 0.0, y: 8.0),
				notification_hook: Hook(parent_anchor: BM, self_anchor: TM),
            )),
        ),

        (
            name: "status_notification",
            parent: "status_root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0, y: 0),
            params: TextBlock((
				text: "%s",
				font: "SF Pro Display Bold 12",
				ellipsize: End,
				color: Color(hex: "#f8f8f2"),
				padding: Padding(left: 8, right: 8, top: 8, bottom: 8),
				dimensions: (width: (min: 320, max: -1), height: (min: 0, max: 0)),
            )),
        ),

        (
            name: "status_body",
            parent: "status_notification",
            hook: Hook(parent_anchor: ML, self_anchor: TL),
            offset: Vec2(x: 0, y: 8),
            params: TextBlock((
				text: "%b",
				font: "SF Pro Display 11",
				ellipsize: End,
				color: Color(hex: "#f8f8f2"),
				padding: Padding(left: 8, right: 8, top: 8, bottom: 8),
				dimensions: (width: (min: 320, max: -1), height: (min: 0, max: 0)),
            )),
        ),

        (
            name: "status_image",
            parent: "status_notification",
            hook: Hook(parent_anchor: TL, self_anchor: TR),
            offset: Vec2(x: 0, y: 0),
            params: ImageBlock((
				image_type: Hint,
				padding: Padding(left: 8, right: 0, top: 8, bottom: 8),
				rounding: 0,
				scale_width: 64,
				scale_height: 64,
				filter_mode: Lanczos3,
            )),
        ),
    ],
)
